
body

{
  margin: 0;
  text-align: center;
  color: #40514E;
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Archivo', sans-serif;

}
span.underlined-text {
    text-decoration: underline;
}
h1{
  font-family: 'Sacramento', cursive;
  font-size: 5.622rem;
  color: #66BFBF;
  margin: 0 auto 0 auto;
  line-height: 2;
}
h2 {
  font-family: 'Merriweather', serif;
  color: #66BFBF;
  font-size: 2.9rem;
  font-weight: normal;
}
h3 {
  font-size: 2.522rem;
  color: #11999E;
  font-weight: normal;
}
a {
  color: #11999E;
  font-family: 'Merriweather', serif;
  margin: 10px 20px;
  text-decoration: none;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.worker{
  width: 35%;
  float: right;
  padding-left: 10%;
}
.cleverhead {
  width: 35%;
  float: left;
  padding-right: 10%;
}
.Tesla {
  width: 37%;
}
.top-container {

  background-color: #F8F4E1;
  padding-top: 20px;
}
.middle-container {
  margin-top: 150px;
  background-color: white;
}
.bottom-container {
  background-color: #66BFBF;
  padding-top: 3%;
  padding-bottom: 2%;
}
.footer-link {
  color: #11999E;
}
.tr-mark {
  color: #EAF6F6;
  font-size: 0.90rem;
  padding: 10px 0;
}
.companies {
  color: #11999E;
}
.profile {
  margin-bottom: 5%;
}
.bottom-cloud {
  position: absolute;
  left: 20%;
  bottom: 50%;

}
.top-cloud {

  position: absolute;
  right: 20%;
  top: 15%;
}
.footer-link {
  color: #11999E;
}

.BUTTON_TJU {
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -webkit-gradient(to bottom, #66BFBF, #66BFBF);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #EFEFE;
   font-family: Tahoma;
   font-size: 27px;
   font-weight: 300;
   padding: 21px;
   border: solid #66BFBF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_TJU:hover {
   border: solid #66BFBF 1px;
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -webkit-gradient(to bottom, #66BFBF, #66BFBF);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
